In [4]:
import itertools
import pandas as pd

from scripts.preprocess.parse_json import parse_dir

In [5]:
def parse_station(element):
    """Parses a JSON bicycle station object to a dictionary"""

    obj = {
        'Id': element['id'],
        'Name': element['commonName'],
        'Latitude': element['lat'],
        'Longitude': element['lon'],
        'PlaceType': element['placeType']
    }

    for p in element['additionalProperties']:
        obj[p['key']] = p['value']

        if 'timestamp' not in obj:
            obj['Timestamp'] = p['modified']
        elif obj['Timestamp'] != p['modified']:
            raise ValueError('The properties\' timestamps for station %s do not match: %s != %s' % (
            obj['id'], obj['Timestamp'], p['modified']))

    return obj

def parse_cycles(json_obj):
    """Parses TfL's BikePoint JSON response"""

    return [parse_station(element) for element in json_obj]

In [31]:
records = parse_dir('/home/jfconavarrete/Documents/Work/Dissertation/spts-uoe/data/dev', parse_cycles)

dataset = pd.DataFrame(list(itertools.chain.from_iterable(records)))

In [32]:
# convert columns to their appropriate datatypes
dataset['InstallDate'] = pd.to_numeric(dataset['InstallDate'], errors='raise')
dataset['Installed'] = dataset['Installed'].astype('bool_')
dataset['Temporary'] = dataset['Temporary'].astype('bool_')
dataset['Locked'] = dataset['Locked'].astype('bool_')
dataset['NbBikes'] = dataset['NbBikes'].astype('uint16')
dataset['NbDocks'] = dataset['NbDocks'].astype('uint16')
dataset['NbEmptyDocks'] = dataset['NbEmptyDocks'].astype('uint16')

# convert string timestamp to datetime
dataset['Timestamp'] =  pd.to_datetime(dataset['Timestamp'], format='%Y-%m-%dT%H:%M:%S.%f')
dataset['InstallDate'] = pd.to_datetime(dataset['InstallDate'], unit='ms')

#

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 15 columns):
Id              1524 non-null object
InstallDate     1350 non-null datetime64[ns]
Installed       1524 non-null bool
Latitude        1524 non-null float64
Locked          1524 non-null bool
Longitude       1524 non-null float64
Name            1524 non-null object
NbBikes         1524 non-null uint16
NbDocks         1524 non-null uint16
NbEmptyDocks    1524 non-null uint16
PlaceType       1524 non-null object
RemovalDate     1524 non-null object
Temporary       1524 non-null bool
TerminalName    1524 non-null object
Timestamp       1524 non-null datetime64[ns]
dtypes: bool(3), datetime64[ns](2), float64(2), object(5), uint16(3)
memory usage: 120.6+ KB

In [28]:
dataset.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>InstallDate</th>
      <th>Installed</th>
      <th>Latitude</th>
      <th>Locked</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>NbBikes</th>
      <th>NbDocks</th>
      <th>NbEmptyDocks</th>
      <th>PlaceType</th>
      <th>RemovalDate</th>
      <th>Temporary</th>
      <th>TerminalName</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BikePoints_1</td>
      <td>2010-07-12 15:08:00</td>
      <td>True</td>
      <td>51.529163</td>
      <td>True</td>
      <td>-0.109970</td>
      <td>River Street , Clerkenwell</td>
      <td>12</td>
      <td>19</td>
      <td>6</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001023</td>
      <td>2016-05-15 20:28:05.490</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BikePoints_2</td>
      <td>2010-07-08 10:43:00</td>
      <td>True</td>
      <td>51.499606</td>
      <td>True</td>
      <td>-0.197574</td>
      <td>Phillimore Gardens, Kensington</td>
      <td>10</td>
      <td>37</td>
      <td>27</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001018</td>
      <td>2016-05-15 20:13:03.720</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BikePoints_3</td>
      <td>2010-07-04 10:46:00</td>
      <td>True</td>
      <td>51.521283</td>
      <td>True</td>
      <td>-0.084605</td>
      <td>Christopher Street, Liverpool Street</td>
      <td>19</td>
      <td>32</td>
      <td>13</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001012</td>
      <td>2016-05-15 20:43:07.243</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BikePoints_4</td>
      <td>2010-07-04 10:58:00</td>
      <td>True</td>
      <td>51.530059</td>
      <td>True</td>
      <td>-0.120973</td>
      <td>St. Chad's Street, King's Cross</td>
      <td>23</td>
      <td>23</td>
      <td>0</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>001013</td>
      <td>2016-05-15 17:37:43.557</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BikePoints_5</td>
      <td>2010-07-04 11:04:00</td>
      <td>True</td>
      <td>51.493130</td>
      <td>True</td>
      <td>-0.156876</td>
      <td>Sedding Street, Sloane Square</td>
      <td>19</td>
      <td>27</td>
      <td>8</td>
      <td>BikePoint</td>
      <td></td>
      <td>True</td>
      <td>003420</td>
      <td>2016-05-15 21:08:10.827</td>
    </tr>
  </tbody>
</table>
</div>